.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;

    border: 2px solid #fff;
    padding: 9.25px 53px;
    color: #fff;
    z-index: 2;

    background-image:linear-gradient(to right,#FFFFFF00 0,#FFFFFF00 50%,#FFFFFF 75%,#FFFFFF 100%)!important;
	transition:all 0.7s ease!important;
	background-size: 400% auto!important;
	background-repeat:no-repeat!important;
}

.button:hover {
    color: #094368;
    background-position: right!important;
    transition:all 0.7s ease!important;
}

.button-wrapper {
    margin-top: 33px;
}

.button-wrapper input {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #1f1f1f;
    padding: 8px 0 8px 24px;
    border: 2px solid #094368;
    border-radius: 3px;
    margin-bottom: 35px;
}

.button-wrapper a {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: #0068A0;
    border: 2px solid #094368;
    color: #fff;
    border-radius: 3px;
    padding: 8px 12px;
}

@media only screen and (min-width: 769px) {
    .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 330px;
    }
}