.container-teaser {
    padding: 60px 0px;
}

.pre-headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding-bottom: 17px;
}

.container-teaser .pre-headline {
    padding-left: 20px;
    padding-right: 20px;
}

.container-teaser h2 {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.teaser {
    position: relative;
}

.teaser::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(70,70,70,0.4) 0%, rgba(128,128,128,0.4) 100%);
    z-index: 0;
}

.teaser-text-wrapper {
    position: absolute;
    padding-left: 27px;
    color: #fff;
    bottom: 35px;
    z-index: 1;
}

.teaser-headline {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.teaser-text {
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-top: -2px;
    margin-bottom: 10px;
}

.teaser-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.teaser-link::after {
    display: inline-block;
    content: '';
    background-image: url('../media/explore-arrow-icon.svg');
    background-repeat: no-repeat;
    margin-left: 10px;
    width: 7px;
    height: 11px;
    transition: margin-left .3s ease-in-out;
}

.teaser-link:hover::after {
    margin-left: 14px;
    transition: margin-left .3s ease-in-out;
}

.container-article-teaser {
    padding: 60px 20px 56px;
    background-color: #094368;
    color: #fff;
}

.container-article-teaser img {
    max-width: -webkit-fill-available;
    height: 379px;
    object-fit: cover;
    object-position: center;
    margin-top: 71px;
}

.container-article-teaser .text {
    padding-bottom: 39px;
}

h2 {
    padding-bottom: 22px;
}

.container-mobility {
    padding: 60px 20px;
}

.icon-box {
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    float: left;
    display: flex;
    height: 61px;
    width: 61PX;
    justify-content: center;
    align-items: center;
}

.icon-cab {
    width: 44px;
    height: auto;
}

.icon-bike {
    width: 50px;
    height: auto;
}

.icon-subway {
    width: 44px;
    height: auto;
}

.container-subway-info p, .container-bike-info p, .container-cab-info p {
    clear: left;
    margin-bottom: 35px;
}

.icon-headline-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 19px;
}

.subline {
  margin-left: 20px;  
  font-size: 20px;
}

.get-around-img {
    max-width: -webkit-fill-available;
}