header {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 20px;
  margin: 0 auto;
  transition: background-color 0.5s ease-in-out;
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.max-width-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-71.5px);
  }

  100% {
    transform: translateY(0px);
  }
}

header.scrolled {
  background-color: #094368;
  transition: background-color 0.5s ease-in-out;
}

.logo p {
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
}

.logo-header a,
.logo-footer a {
  color: #fff;
}

.menu-tablet-desktop {
  display: none;
}

#menuToggle input {
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  right: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  list-style-type: none;
  text-align: left;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 0 0 10px;
  transition: background-color 0.5s ease-in-out;
}

header.scrolled .dropdown-menu {
  background-color: #094368;
  transition: background-color 0.5s ease-in-out;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 2px 20px;
  display: inline-block;
  color: #fff;
}

#menuToggle input:checked~ul.dropdown-menu {
  display: block;
  position: absolute;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: white;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 20px;
  top: 49%;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translate(0px, -8px);
}

.menu-btn__burger::after {
  transform: translate(0px, 8px);
}

#menuToggle input:checked~.menu-btn__burger {
  transform: translateX(-40px);
  background: transparent;
}

#menuToggle input:checked~.menu-btn__burger::before {
  transform: rotate(45deg) translate(25.5px, -25.5px);
}

#menuToggle input:checked~.menu-btn__burger::after {
  transform: rotate(-45deg) translate(25.5px, 25.5px);
}

ul li {
  letter-spacing: 0.02em;
}

@media only screen and (max-width: 768px) {
  .dropdown-menu li.active a {
    color: #094368;
    background-color: #fff;
  }
}

@media only screen and (min-width: 769px) {
  #menuToggle input {
    display: none;
  }

  .menu-btn__burger {
    display: none;
  }

  .dropdown-menu {
    display: block;
    position: relative;
    padding: 0;
    background-color: unset;
  }

  .dropdown-menu li {
    display: inline-block;
  }

  header.scrolled .dropdown-menu {
    background-color: unset;
  }

  .logo p {
    font-size: 30px;
  }

  .no-padding-right {
    padding-right: 0 !important;
  }

  .dropdown-menu li a::after {
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 2px;
    height: 2px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
  }

  .dropdown-menu li a:hover::after {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
  }

  .dropdown-menu li.active a::after {
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
  }
}

@media only screen and (min-width: 1025px) {
  header {
    padding: 20px 40px;
  }

  .dropdown-menu {
    font-size: 20px;
  }
}